@import "../../assets/styles/custom";

.buttons {
  .list-header,
  .list-item {
    align-items: flex-start;
    &:nth-child(even) {
      height: 100px;
    }
    &:not(:first-child):nth-child(odd) {
      height: 170px;
    }
    &:not(:first-child) {
      padding-top: 20px;
    }
  }
  .list-header {
    font-size: $weeny-font-size;
    line-height: 12px;
    flex-direction: column;
  }

  .header-list .list-header {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .content-list .list-header {
    align-items: flex-start;
  }

  &-list-header {
    font-weight: 700;
    text-transform: capitalize;
    line-height: normal;
    margin-bottom: 5px;
  }
}
