<div class="p-chips-and-actions">
  <p-action-button
    [label]="firstButton.label"
    [disabled]="firstButton.disabled"
    [iconBeforeName]="firstButton.iconBeforeName"
    [iconBeforeWidth]="firstButton.iconBeforeWidth"
    [iconBeforeHeight]="firstButton.iconBeforeHeight"
    [iconBeforeStrokeWidth]="firstButton.iconBeforeStrokeWidth"
    [iconBeforeStrokeColor]="firstButton.iconBeforeStrokeColor"
    [isMenuTrigger]="firstButton.isMenuTrigger"
    [isStandalone]="firstButton.isStandalone"></p-action-button>

  <p-chips class="p-chips-comp"
           [chips]="chips"
           [ariaLabel]="chipsAriaLabel"></p-chips>

  <p-action-button
    [label]="lastButton.label"
    [disabled]="lastButton.disabled"
    [iconBeforeName]="lastButton.iconBeforeName"
    [iconBeforeWidth]="lastButton.iconBeforeWidth"
    [iconBeforeHeight]="lastButton.iconBeforeHeight"
    [iconBeforeStrokeWidth]="lastButton.iconBeforeStrokeWidth"
    [iconBeforeStrokeColor]="lastButton.iconBeforeStrokeColor"
    [isMenuTrigger]="lastButton.isMenuTrigger"
    [isStandalone]="lastButton.isStandalone"></p-action-button>
</div>
