@mixin icon($width: 18px, $height: 18px, $rotate: false) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center center;
  @if $rotate {
    transform: rotate($rotate);
  }
}

@mixin clamp($lines: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
