@import 'custom';

body {
  font-family: $font-family-basic;
  padding: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.sr-only {
  font-size: 0;
}

h1, h2, h3, h4, h5, h6 {
  @include resetH;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.page {
  padding: 80px;
  background-color: $white;
}

.page-title {
  font-family: $font-family-accent;
  font-size: 60px;
  color: $gray-scale-700;
  line-height: 72px;
  margin-bottom: 95px;
  &-highlighted {
    font-weight: 700;
  }
}

//font-family
.font-family-accent {
  font-family: $font-family-accent;
}
.font-family-basic {
  font-family: $font-family-basic;
}

//font-weight
.weight-regular {
  font-weight: 400;
}
.weight-medium {
  font-weight: 500;
}
.weight-semi-bold {
  font-weight: 600;
}
.weight-bold {
  font-weight: 700;
}

