$font-family-accent: 'Source Sans Pro', 'Arial', sans-serif;
$font-family-basic: 'Inter', 'Arial', sans-serif;

// max screen width: 1920px;
// min screen width: 1366px;
$width-wide-screen: 1200px;
$width-middle-screen: 755px;

$dominant-font-size: 22px;
$large-font-size: 18px;
$big-font-size: 16px;
$middle-font-size: 15px;
$base-font-size: 14px;
$small-font-size: 13px;
$tiny-font-size: 12px;
$weeny-font-size: 10px;

$page-header-height: 220px;

@mixin clamp($lines: 2) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
