<button class="p-action-btn"
        [ngClass]="{'menu-trigger' : isMenuTrigger, 'active' : isActive, 'standalone' : isStandalone}"
        [disabled]="disabled"
        (click)="isActive = true"
        (blur)="isActive = false">
  <p-icon *ngIf="iconBeforeName"
          class="p-action-btn-icon"
          [iconName]="iconBeforeName"
          [width]="iconBeforeWidth"
          [height]="iconBeforeHeight"
          [stroke]="iconBeforeStrokeColor"
          [strokeWidth]="iconBeforeStrokeWidth"
          [disabled]="disabled"></p-icon>
  <span class="p-action-btn-label">{{label}}</span>
  <p-icon *ngIf="isMenuTrigger"
          class="p-action-btn-arrow"
          iconName="chevron-down"
          [width]="17"
          [disabled]="disabled"></p-icon>
</button>
