<!--Singe select-->
<ng-container *ngIf="singleMenuTrigger && !groupTitle">
  <p-menu-single-select [menuList]="singleMenuList"
                        [buttonFirst]="buttonFirst"
                        [buttonLast]="buttonLast">
    <!--ng-content-->
    <p-input-text [value]="singleMenuTrigger.value"
                  [ariaLabel]="singleMenuTrigger.ariaLabel"
                  [iconName]="singleMenuTrigger.iconName"></p-input-text>
    <!-- -->
  </p-menu-single-select>
</ng-container>

<ng-container *ngIf="singleMenuTrigger && groupTitle && !filterPlaceholder">
  <p-menu-single-select [menuList]="singleMenuList"
                        [groupTitle]="groupTitle"
                        [buttonFirst]="buttonFirst"
                        [buttonLast]="buttonLast">
    <!--ng-content-->
    <p-input-text [value]="singleMenuTrigger.value"
                  [ariaLabel]="singleMenuTrigger.ariaLabel"
                  [iconName]="singleMenuTrigger.iconName"></p-input-text>
    <!-- -->
  </p-menu-single-select>
</ng-container>

<ng-container *ngIf="singleMenuTrigger && groupTitle && filterPlaceholder">
  <p-menu-single-select [menuList]="singleMenuList"
                        [groupTitle]="groupTitle"
                        [filterAriaLabel]="filterAriaLabel"
                        [filterPlaceholder]="filterPlaceholder"
                        [buttonFirst]="buttonFirst"
                        [buttonLast]="buttonLast">
    <!--ng-content-->
    <p-action-button [label]="singleMenuTrigger.label"
                     [iconBeforeName]="singleMenuTrigger.iconBeforeName"
                     [iconBeforeWidth]="singleMenuTrigger.iconBeforeWidth"
                     [iconBeforeHeight]="singleMenuTrigger.iconBeforeHeight"
                     [iconBeforeStrokeWidth]="singleMenuTrigger.iconBeforeStrokeWidth"
                     [iconBeforeStrokeColor]="singleMenuTrigger.iconBeforeStrokeColor"
                     [isMenuTrigger]="true"
                     [isStandalone]="singleMenuTrigger.isStandalone"></p-action-button>
    <!-- -->
  </p-menu-single-select>
</ng-container>

<!--Multi select-->
<ng-container *ngIf="multiMenuTrigger && !filterPlaceholder && !headerBtnFirst">
  <p-menu-multi-select [menuList]="multiMenuList"
                        [headerBtnFirst]="headerBtnFirst"
                        [headerBtnLast]="headerBtnLast"
                        [footerBtnFirst]="footerBtnFirst"
                        [footerBtnLast]="footerBtnLast">
    <!--ng-content-->
    <p-action-button [label]="multiMenuTrigger.label"
                     [iconBeforeName]="multiMenuTrigger.iconBeforeName"
                     [iconBeforeWidth]="multiMenuTrigger.iconBeforeWidth"
                     [iconBeforeHeight]="multiMenuTrigger.iconBeforeHeight"
                     [iconBeforeStrokeWidth]="multiMenuTrigger.iconBeforeStrokeWidth"
                     [iconBeforeStrokeColor]="multiMenuTrigger.iconBeforeStrokeColor"
                     [isMenuTrigger]="true"
                     [isStandalone]="multiMenuTrigger.isStandalone"></p-action-button>
    <!-- -->
  </p-menu-multi-select>
</ng-container>

<ng-container *ngIf="multiMenuTrigger && filterPlaceholder && !headerBtnFirst">
  <p-menu-multi-select [menuList]="multiMenuList"
                       [filterPlaceholder]="filterPlaceholder"
                       [filterAriaLabel]="filterAriaLabel"
                       [footerBtnFirst]="footerBtnFirst"
                       [footerBtnLast]="footerBtnLast">
    <!--ng-content-->
    <p-action-button [label]="multiMenuTrigger.label"
                     [iconBeforeName]="multiMenuTrigger.iconBeforeName"
                     [iconBeforeWidth]="multiMenuTrigger.iconBeforeWidth"
                     [iconBeforeHeight]="multiMenuTrigger.iconBeforeHeight"
                     [iconBeforeStrokeWidth]="multiMenuTrigger.iconBeforeStrokeWidth"
                     [iconBeforeStrokeColor]="multiMenuTrigger.iconBeforeStrokeColor"
                     [isMenuTrigger]="true"
                     [isStandalone]="multiMenuTrigger.isStandalone"></p-action-button>
    <!-- -->
  </p-menu-multi-select>
</ng-container>

<ng-container *ngIf="multiMenuTrigger && filterPlaceholder && headerBtnFirst">
  <p-menu-multi-select [menuList]="multiMenuList"
                       [filterPlaceholder]="filterPlaceholder"
                       [filterAriaLabel]="filterAriaLabel"
                       [headerBtnFirst]="headerBtnFirst"
                       [headerBtnLast]="headerBtnLast"
                       [footerBtnFirst]="footerBtnFirst"
                       [footerBtnLast]="footerBtnLast">
    <!--ng-content-->
    <p-action-button [label]="multiMenuTrigger.label"
                     [iconBeforeName]="multiMenuTrigger.iconBeforeName"
                     [iconBeforeWidth]="multiMenuTrigger.iconBeforeWidth"
                     [iconBeforeHeight]="multiMenuTrigger.iconBeforeHeight"
                     [iconBeforeStrokeWidth]="multiMenuTrigger.iconBeforeStrokeWidth"
                     [iconBeforeStrokeColor]="multiMenuTrigger.iconBeforeStrokeColor"
                     [isMenuTrigger]="true"
                     [isStandalone]="multiMenuTrigger.isStandalone"></p-action-button>
    <!-- -->
  </p-menu-multi-select>
</ng-container>

<!--Radio group-->
<ng-container *ngIf="radioMenuTrigger">
  <p-menu-radio-group [menuList]="radioMenuList"
                      [footerBtnFirst]="footerBtnFirst"
                      [footerBtnLast]="footerBtnLast">
    <!--ng-content-->
    <p-chip-button [label]="radioMenuTrigger.label"
                    [values]="radioMenuTrigger.values"
                    [iconRemove]="radioMenuTrigger.iconRemove"
                    [full]="radioMenuTrigger.full"
                    [active]="radioMenuTrigger.active"></p-chip-button>
    <!-- -->
  </p-menu-radio-group>
</ng-container>


<!--<p-menu-tabs [menuList]="menuList"-->
<!--[headerBtnFirst]="headerBtnFirst"-->
<!--[headerBtnLast]="headerBtnLast"-->
<!--[footerBtnFirst]="footerBtnFirst"-->
<!--[footerBtnLast]="footerBtnLast">-->
<!--<p-input-text [value]="'Menu Tabs'"></p-input-text>-->
<!--</p-menu-tabs>-->



<!--<p-menu-free-text [menuList]="menuListFreeText"-->
<!--[footerBtnFirst]="footerBtnFirst"-->
<!--[footerBtnLast]="footerBtnLast">-->
<!--<p-input-text [value]="'Menu Free Text'"></p-input-text>-->
<!--</p-menu-free-text>-->

<!--<p-menu-range [inputMax]="inputMax" [inputMin]="inputMin"-->
<!--[footerBtnFirst]="footerBtnFirst"-->
<!--[footerBtnLast]="footerBtnLast">-->
<!--<p-input-text [value]="'Menu Range'"></p-input-text>-->
<!--</p-menu-range>-->
