<button mat-button [matMenuTriggerFor]="menu"
        class="p-btn p-btn-small p-btn-primary">
  {{menuTriggerName}}
</button>

<mat-menu #menu="matMenu"
          class="p-menu">
  <ng-template [ngIf]="groupTitle" [ngIfElse]="noGroupTitle">
    <ng-container *ngFor="let group of menuList">
      <h6 class="p-menu-group-title">{{group.letter}}</h6>
      <button *ngFor="let item of group.names"
              mat-menu-item
              [disabled]="item.disabled"
              [disableRipple]="true">
        {{item.name}}
      </button>
    </ng-container>
  </ng-template>

  <ng-template #noGroupTitle>
    <button *ngFor="let item of menuList"
            mat-menu-item
            [disabled]="item.disabled"
            [disableRipple]="true">
      {{item.name}}
    </button>
  </ng-template>
</mat-menu>
