@import "../assets/styles/custom";

::ng-deep.p-checkbox {
  // material styles override
  .mat-checkbox-label {
    font-family: $font-family-basic;
    font-size: $small-font-size;
    font-weight: 500;
  }
  .mat-checkbox-frame {
    background-color: $gray-scale-1;
    border-width: 1px;
    border-color: $gray-scale-400;
  }
  .mat-ripple-element {
    display: none;
  }

  // hover
  // focus
  &:not(.mat-checkbox-disabled):hover,
  &.cdk-focused {
    .mat-checkbox-frame {
      border-color: $secondary-a-700;
    }
  }

  // disabled
  &.mat-checkbox-disabled {
    &:not(.mat-checkbox-checked) .mat-checkbox-frame {
      background-color: $primary-c-50;
      border-color: $gray-scale-400;
    }
    .mat-checkbox-label {
      color: $gray-scale-600;
    }
  }

  // checked
  &.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: $secondary-a-700;
    }
    // checked + hover
    &:not(.mat-checkbox-disabled):hover {
      .mat-checkbox-background {
        background-color: $secondary-a-800;
      }
    }

    // checked + disabled
    &.mat-checkbox-disabled {
      .mat-checkbox-background {
        background-color: $secondary-a-100;
      }
    }
  }
  .mat-checkbox-checkmark-path {
    stroke-width: 3px;
  }
  .mat-checkbox-checkmark {
    width: 88%;
    left: 1px;
  }
  .mat-checkbox-checkmark {
    fill: $gray-scale-1;
  }

  // select all
  &.select-all {
    .mat-checkbox-frame {
      border-color: $primary-a-900;
    }
  }

  // indeterminate
  &.mat-checkbox-indeterminate {
    .mat-checkbox-background {
      background-color: transparent;
    }
    .mat-checkbox-frame {
      border-width: 1px;
      border-color: $primary-a-900;
    }
  }
  .mat-checkbox-mixedmark {
    width: calc(100% - 7px);
    height: 2px;
    background-color: $primary-a-900;
  }
}
