@import "../assets/styles/custom";

.p-slide-toggle {
  // material styles override
  ::ng-deep &.mat-slide-toggle {
    .mat-slide-toggle-bar {
      width: 48px;
      height: 24px;
      background-color: $gray-scale-500;
      border-radius: 24px;
      box-sizing: content-box;
  }
  .mat-slide-toggle-thumb-container {
    top: 2px;
    left: 2px;
  }
  .mat-focus-indicator {
    display: none;
  }
  .mat-slide-toggle-content {
    font-family: $font-family-basic;
    font-size: $small-font-size;
    font-weight: 500;
  }

  &:hover {
    .mat-slide-toggle-bar {
      background-color: $gray-scale-700;
    }
  }

  &:focus {
    .mat-slide-toggle-bar {
      background-color: $gray-scale-700;
      //border: 2px solid $gray-scale-100;
    }
  }

  // disabled
  &.mat-disabled {
    opacity: 1;
    .mat-slide-toggle-bar {
      background-color: $gray-scale-50;
    }
  }

  // checked
  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: $secondary-a-700;
    }
    .mat-slide-toggle-thumb-container {
      transform: translate3d(24px, 0, 0);
    }
    .mat-slide-toggle-thumb {
      background-color: $white;
    }

    &:hover {
      .mat-slide-toggle-bar {
        background-color: $secondary-a-800;
      }
    }

    &:focus {
      .mat-slide-toggle-bar {
        //border: 2px solid $secondary-a-200;
      }
    }

    &.mat-disabled {
      .mat-slide-toggle-bar {
         background-color: $secondary-a-100;
       }
      }
    }
  }

  // icons added
  ::ng-deep &.mat-slide-toggle {
    .mat-slide-toggle-bar {
      &:before {
        content: '';
        display: block;
        width: 16px;
        height: 12px;
        background-image: url('../assets/images/check.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 5px;
        left: 6px;
      }
      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('../assets/images/x.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 3.5px;
        right: 5px;
      }
    }
  }
}
