<h1 class="page-title">Typography / <span class="page-title-highlighted">Font families</span></h1>

<div class="font-family">
  <div class="font-family-accent">
    <h2 class="font-family-title">Source Sans Pro</h2>
    <p class="font-family-description">Used only in caps, bold and 5% letter spacing, on headlines and highlighted areas such as menus, tabs, page titles, etc.</p>

    <div class="font-family-example bold">
      <h3 class="font-family-weight">Bold</h3>
      <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
    </div>
  </div>

  <div class="font-family-basic">
    <h2 class="font-family-title">Inter</h2>
    <p class="font-family-description">Used in all the text of the paragraphs and wherever there is text in the lower case such as subheadings, buttons, etc.</p>

    <div class="font-family-example">
      <h3 class="font-family-weight regular">Regular</h3>
      <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
    </div>
    <div class="font-family-example">
      <h3 class="font-family-weight medium">Medium</h3>
      <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
    </div>
    <div class="font-family-example semi-bold">
      <h3 class="font-family-weight">Semi Bold</h3>
      <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
    </div>
    <div class="font-family-example bold">
      <h3 class="font-family-weight">Bold</h3>
      <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
    </div>
  </div>
</div>


