<div class="page">
  <header class="page-header">
    <h1 class="page-title">Buttons / <span class="page-header-highlighted">Small</span></h1>
    <p class="page-header-line">
      Height:
      <span class="page-header-highlighted">30px</span>, min. width:
      <span class="page-header-highlighted">80px</span>
    </p>
    <p class="page-header-line">
      Typography style:
      <span class="page-header-highlighted">Paragraph 2 - medium</span>
    </p>
  </header>

  <main class="page-main">
    <p-button *ngFor="let button of buttons" [button]="button"></p-button>
    <!--<ul *ngIf="" class="">-->
      <!--<li *ngFor="let item of  "-->
          <!--class="">-->

      <!--</li>-->
    <!--</ul>-->
  </main>


  <!--<div class="list-items">-->
    <!--+     <app-task-->
    <!--+       *ngFor="let task of tasksInOrder"-->
    <!--+       [task]="task"-->
    <!--+       (onArchiveTask)="onArchiveTask.emit($event)"-->
    <!--+       (onPinTask)="onPinTask.emit($event)"-->
    <!--+     >-->
    <!--+     </app-task>-->
    <!--+     <div *ngIf="tasksInOrder.length === 0 && !loading" class="wrapper-message">-->
    <!--+       <span class="icon-check"></span>-->
    <!--+       <div class="title-message">You have no tasks</div>-->
    <!--+       <div class="subtitle-message">Sit back and relax</div>-->
    <!--+     </div>-->
    <!--+     <div *ngIf="loading">-->
    <!--+       <div *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="loading-item">-->
    <!--+         <span class="glow-checkbox"></span>-->
    <!--+         <span class="glow-text"> <span>Loading</span> <span>cool</span> <span>state</span> </span>-->
    <!--+       </div>-->
    <!--+     </div>-->
    <!--+   </div>-->

</div>
