<!--<div>-->
  <!--<p-menu-tab-group [menuTriggerName]="menuTriggerName"-->
               <!--[menuList]="menuList"-->
               <!--[footerBtnFirst]="footerBtnFirst"-->
               <!--[footerBtnLast]="footerBtnLast"-->
               <!--[filterAriaLabel]="filterAriaLabel"-->
               <!--[filterPlaceholder]="filterPlaceholder"-->
               <!--[headerBtnFirst]="headerBtnFirst"-->
               <!--[headerBtnLast]="headerBtnLast"-->
               <!--[checkboxList]="checkboxList"></p-menu-tab-group>-->
<!--</div>-->


<!--<p class="paragraph-3-semibold">some words</p>-->

<!--<p-input-header [value]="'some text'"></p-input-header>-->

<!--<p-input-text [value]="'some text'"></p-input-text>-->

<!--<p-menu-multi-select-->
<!--[menuTriggerName]="'trigger'"-->
<!--[menuList]="menuList"-->
<!--[headerBtnFirst]="headerBtnFirst"-->
<!--[headerBtnLast]="headerBtnLast"-->
<!--[footerBtnFirst]="footerBtnFirst"-->
<!--[footerBtnLast]="footerBtnLast"></p-menu-multi-select>-->

<!--<p-menu-single-select-->
<!--[menuTriggerName]="'trigger'"-->
<!--[menuList]="menuList"></p-menu-single-select>-->

<p-tab-group [tabGroup]="tabGroup"></p-tab-group>



<button #tooltip="matTooltip"
        [matTooltip]="'message'"
        [matTooltipClass]="'p-tooltip left'"
        [matTooltipPosition]="'above'"
        class="p-btn p-btn-small p-btn-primary"
>
  Hover
</button>
