<!--<p-masthead [navList]="navList"-->
            <!--[mastheadSearch]="mastheadSearch"></p-masthead>-->

<p-icon class="p-chip-menuTrigger"
        iconName="unlink"
        width="24"
        height="24"
        [strokeWidth]="2"></p-icon>

<p-button class="p-input-text-icon remove-link"
          ariaLabel="Unlink"
          [buttonType]="'isIcon'"
          iconBefore="unlink"
          iconBeforeWidth="16"
          iconBeforeHeight="16"
          matTooltip="Unlink"
          matTooltipPosition="above"
          matTooltipClass="p-tooltip above"></p-button>

<!--<img src="unlink.svg" alt="">-->

<!--<object-->
  <!--type="image/svg+xml"-->
  <!--data="unlink.svg">-->
<!--</object>-->
