<!--<p-button [label]="'Label'"-->
          <!--[iconBefore]="'eye'"-->
          <!--[iconBeforeWidth]="'17'"-->
          <!--[iconAfter]="'chevron-down'"-->
          <!--[iconAfterWidth]="'17'">-->
<!--</p-button>-->

<!--<p-input-numeric></p-input-numeric>-->

<div>
  <p-menu-multi-select [menuTriggerName]="menuTriggerName"
                       [menuList]="menuList"
                       [footerBtnFirst]="footerBtnFirst"
                       [footerBtnLast]="footerBtnLast"
                       [filterAriaLabel]="filterAriaLabel"
                       [filterPlaceholder]="filterPlaceholder"
                       [headerBtnFirst]="headerBtnFirst"
                       [headerBtnLast]="headerBtnLast"></p-menu-multi-select>
</div>

