#numeric-input,
#input-outline,
#input-text {
  &~ .sbdocs .innerZoomElementWrapper > div {
    $label-width: 150px;
    $regular-item-width: 250px;
    width: $regular-item-width;

    &:nth-child(4n+1){
      width: $label-width;
    }
    &:nth-child(4n+4){
      width: calc(100% - #{$label-width} - #{$regular-item-width} * 2);
    }
  }
}

#numeric-input---small,
#numeric-input---medium {
  & ~ .sbdocs .innerZoomElementWrapper > div {
    $item-width: 250px;
    width: $item-width;
    &:nth-child(3n){
      width: calc(100% - #{$item-width} * 2);
    }
  }
}

#numeric-input---large {
  & ~ .sbdocs .innerZoomElementWrapper > div {
    $item-width: 320px;
    width: $item-width;
    &:nth-child(3n){
      width: calc(100% - #{$item-width} * 2);
    }
  }
}

#input-outline ~ div .p-input-outline {
  max-width: 220px;
}

#input-outline {
  &~ #with-icon,
  &~ #search {
    &~ .sbdocs .innerZoomElementWrapper > div {
      width: 100%;
    }
  }
}

#page-head-input {
  &~ .sbdocs .innerZoomElementWrapper {
    & > div {
      width: 100%;
      &:nth-child(even) {
        margin-bottom: 40px;
      }
    }
    .story-title {
      line-height: 24px;
    }
  }
}
