$white: #ffffff;
$black: #000000;

//system colors
//$system-primary: rgba(84, 54, 44);
$system-accent: #0875e1;
$system-active: #3CADEF;
$system-decoration: #7968AD;
$system-attention: #CA2429;
//$system-notification: #F96B0A;
//$system-normal: #318e1e;

//font colors
//$text-darkest: #747474;
$text-dark: #1F1F1F;
//$text-medium: #272727;
$text-light: #686868;
//$text-lighter: #545454;

//layout colors
$layout-accent: #E7E7E7;
$layout-border: #7b858f;
$layout-disabled: #f6f7f8;
$layout-disabled-border: #b9c0c7;

//color scheme
$fuchsia: #EB2B8C;
$violet: #7A69AD;
$beige: #F8B062;


