@import 'custom';

body {
  font-family: $font-family-basic;
  color: $primary-a-900;
  padding: 0 !important;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  @include resetH;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

// story section title
.sbdocs-h6 {
  font-weight: 700;
}
// element title inside canvas
.story-title {
  width: 100%;
  font-family: $font-family-basic;
  font-weight: 500;
  font-size: $base-font-size;
  text-transform: capitalize;
  line-height: 64px;
  color: $gray-scale-700;
}
// hidden text
.hidden-text {
  font-size: 0;
}

#radio-button--base,
#label-status-main {
  & ~ .sbdocs .innerZoomElementWrapper > div {
    $label-width: 150px;
    &:nth-child(odd){
      width: $label-width;
    }
    &:nth-child(even){
      width: calc(100% - #{$label-width});
    }
  }
}

#label-status-sub ~ .sbdocs .innerZoomElementWrapper > div {
  $label-width: 150px;
  width: $label-width;
  &:nth-child(3n){
    width: calc(100% - #{$label-width} * 2);
  }
}

#toggle-button ~ .sbdocs .innerZoomElementWrapper > div {
  $label-width: 170px;
  &:nth-child(odd){
    width: $label-width;
  }
  &:nth-child(even){
    width: calc(100% - #{$label-width});
  }
}

#button-large,
#button-small,
#button-large-with-icon-before,
#button-small-with-icon-before,
#button-large-with-icon-after,
#button-small-with-icon-after,
#button-large-with-icon-before--after,
#button-small-with-icon-before--after {
  & ~ .sbdocs .innerZoomElementWrapper > div {
    width: calc(100% / 4);
  }
}

#tooltip {
  & ~ .sbdocs .innerZoomElementWrapper > div {
    width: calc(100% / 6);
  }
}

.page {
  $page-line-height: 70px;
  &-main {
    display: flex;
    padding: 80px;
    background-color: $white;
  }

  &-list {
    @include resetUl;
    &.header-list {
      min-width: 175px;
      .list-header {
        text-align: right;
        justify-content: flex-end;
      }
    }
  }

  .list-header {
    display: flex;
    align-items: center;
    font-size: $base-font-size;
    font-weight: 500;
    color: $gray-scale-800;
    line-height: 1.5;
    height: $page-line-height;
    padding-right: 20px;
    padding-left: 20px;
    white-space: nowrap;
  }

  .list-item {
    display: flex;
    align-items: center;
    height: $page-line-height;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.page-header {
  color: $gray-scale-700;
  height: $page-header-height;
  padding: 46px 46px 10px 46px;
  background-color: $primary-c-50;
  &-line {
    font-size: 25px;
    line-height: 30.48px;
    .page-title ~ & {
      margin-top: 33px;
    }
    & ~ & {
      margin-top: 13px;
    }
  }
  &-highlighted {
    font-weight: 500;
  }
}

.page-title {
  font-family: $font-family-accent;
  font-size: 50px;
  line-height: 42px;
  &-highlighted {
    font-weight: 700;
  }
}

//border around the elements
.header-list {
  .list-header:not(:first-child) {
    border-right: 1px solid $gray-scale-500;
  }
}
.content-list {
  .list-header {
    border-bottom: 1px solid $gray-scale-500;
  }
  &:last-child {
    .list-item {
      border-right: 1px solid $gray-scale-500;
    }
  }
  .list-item:last-child {
    border-bottom: 1px solid $gray-scale-500;
  }
}

@import 'icons';

@import '../../input/input-numeric-page';
@import '../../radio-button/radio-button-group-page';

// design-system global styles
// compiled by scss-bundle -c scss-bundle.config.json
@import "../../../../projects/design-system-lib/src/lib/assets/styles/p-styles.scss";
