/*** LTR websites ***/
$direction            :ltr;
$opposite-direction   :rtl;

$start-direction      :left;
$end-direction        :right;

$transform-direction  :1;

/*** RTL websites ***/
//$direction            :rtl;
//$opposite-direction   :ltr;
//
//$start-direction      :right;
//$end-direction        :left;
//
//$transform-direction  :-1;

$font-family-accent: 'Source Sans Pro', 'Arial', sans-serif;
$font-family-basic: 'Inter', 'Arial', sans-serif;

// max screen width: 1920px;
// min screen width: 1366px;
$width-wide-screen: 1200px;
$width-middle-screen: 755px;

$dominant-font-size: 22px;
$large-font-size: 20px;
$big-font-size: 16px;
$middle-font-size: 15px;
$base-font-size: 14px;
$small-font-size: 13px;
$tiny-font-size: 12px;
