<div *ngIf="palette" class="color-scheme">
  <div *ngFor="let group of palette | keyvalue: originalOrder" class="{{group.key}}">
    <div *ngFor="let type of group.value | keyvalue: originalOrder" class="color-{{group.key}}-{{type.key}}">
      <div *ngFor="let box of type.value | keyvalue: originalOrder" class="color-box {{group.key}}-{{type.key}}-{{box.key}}">
        <p class="color-box-name">{{box.value}}</p>
        <p class="color-box-class">${{group.key}}-{{type.key}}-{{box.key}}</p>
      </div>
    </div>
  </div>
</div>
