<div class="color-scheme">
  <div class="color-primary">
    <div class="color-box primary-basic"></div>
    <div class="color-box primary-accent"></div>
  </div>
  <div class="color-secondary">
    <div class="color-secondary-basic">
      <div class="color-box secondary-basic-800"></div>
      <div class="color-box secondary-basic-700"></div>
      <div class="color-box secondary-basic-600"></div>
      <div class="color-box secondary-basic-500"></div>
      <div class="color-box secondary-basic-200"></div>
      <div class="color-box secondary-basic-100"></div>
      <div class="color-box secondary-basic-050"></div>
    </div>
    <div class="color-secondary-accent">
      <div class="color-box secondary-accent-700"></div>
      <div class="color-box secondary-accent-500"></div>
      <div class="color-box secondary-accent-400"></div>
      <div class="color-box secondary-accent-300"></div>
      <div class="color-box secondary-accent-200"></div>
      <div class="color-box secondary-accent-100"></div>
      <div class="color-box secondary-accent-050"></div>
    </div>
  </div>
  <div class="colors-grayscale">
    <div class="color-box grayscale-800"></div>
    <div class="color-box grayscale-700"></div>
    <div class="color-box grayscale-600"></div>
    <div class="color-box grayscale-500"></div>
    <div class="color-box grayscale-400"></div>
    <div class="color-box grayscale-100"></div>
    <div class="color-box grayscale-050"></div>
    <div class="color-box grayscale-005"></div>
    <div class="color-box grayscale-001"></div>
  </div>
  <div class="colors-supportive">
    <div class="colors-supportive-main">
      <div class="colors-supportive-alert">
        <div class="alert-700"></div>
        <div class="alert-500"></div>
        <div class="alert-050"></div>
      </div>
      <div class="colors-supportive-yellow">
        <div class="class-yellow"></div>
      </div>
      <div class="colors-supportive-orange">
        <div class="orange-300"></div>
        <div class="orange-050"></div>
      </div>
      <div class="colors-supportive-success">
        <div class="success-400"></div>
        <div class="success-050"></div>
      </div>
    </div>
    <div class="colors-supportive-additional">
        <div class="palette-a"></div>
        <div class="palette-b"></div>
        <div class="palette-c"></div>
    </div>
  </div>
</div>
