<div class="page checkbox-group-page">
    <header class="page-header">
      <h1 class="page-title">Checkbox /<span class="page-header-highlighted">Examples</span></h1>
    </header>

    <main class="page-main">
      <ul class="checkbox-group-page-list">
        <li *ngFor="let group of checkboxGroupPage" class="checkbox-group-page-item">
          <p-checkbox-group [groupTitle]="group.groupTitle"
                          [checkboxGroup]="group.checkboxGroup"
                          [error]="group.error">
          </p-checkbox-group>
        </li>
      </ul>

    </main>
</div>
