<div class="page">
  <h1 class="page-title">Typography / <span class="page-title-highlighted">Font families</span></h1>

  <div class="font-family">
    <div class="font-family-accent font-family-accent-container">
      <h2 class="font-family-title">Source Sans Pro</h2>
      <p class="font-family-description">Used only in caps, bold and 5% letter spacing, on headlines and highlighted areas such as menus, tabs, page titles, etc.</p>
      <div class="font-family-list">
        <div class="font-family-example weight-bold">
          <h3 class="font-family-weight">Bold</h3>
          <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
          <p class="font-family-class">
            $font-family-accent
            <br/>
            .font-family-accent
            <br/>
            .weight-bold
          </p>
        </div>
      </div>
    </div>

    <div class="font-family-basic font-family-basic-container">
      <h2 class="font-family-title">Inter</h2>
      <p class="font-family-description">Used in all the text of the paragraphs and wherever there is text in the lower case such as subheadings, buttons, etc.</p>
      <div class="font-family-list">
        <div class="font-family-example">
          <h3 class="font-family-weight weight-regular">Regular</h3>
          <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
          <p class="font-family-class">
            $font-family-basic
            <br/>
            .font-family-basic
            <br/>
            .weight-regular
          </p>
        </div>
        <div class="font-family-example">
          <h3 class="font-family-weight weight-medium">Medium</h3>
          <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
          <p class="font-family-class">
            $font-family-basic
            <br/>
            .font-family-basic
            <br/>
            .weight-medium
          </p>
        </div>
        <div class="font-family-example weight-semi-bold">
          <h3 class="font-family-weight">Semi Bold</h3>
          <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
          <p class="font-family-class">
            $font-family-basic
            <br/>
            .font-family-basic
            <br/>
            .weight-semi-bold
          </p>
        </div>
        <div class="font-family-example weight-bold">
          <h3 class="font-family-weight">Bold</h3>
          <p class="font-family-sample">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890/?.,<>’”;:!@#$%^&*()~`</p>
          <p class="font-family-class">
            $font-family-basic
            <br/>
            .font-family-basic
            <br/>
            .weight-bold
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
