@import "../../assets/styles/custom";

.page {
  width: 1440px;
}

.font-family {
  display: flex;
  justify-content: stretch;
  width: 1800px;
  font-size: 18px;
  color: $primary-basic-main;
  line-height: 24.44px;

  &-accent-container {
    font-family: $font-family-accent;
    width: 530px;
    margin-right: 75px;
  }

  &-basic-container {
    font-family: $font-family-basic;
    width: 605px;
  }

  &-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40.72px;
    margin-bottom: 26px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-example {
    width: 159px;
    margin-top: 64px;
    margin-right: 78px;
  }

  &-weight {
    margin-bottom: 26px;
  }

  &-sample {
    line-break: anywhere;
  }

  &-class {
    font-weight: 400;
    color: $gray-scale-700;
    margin-top: 20px;
  }

}

