<mat-form-field class="p-input-text"
                appearance="standard"
                [ngClass]="{'p-input-text-readonly' : readonly}"
                floatLabel="always">
  <mat-label class="p-input-text-label">{{label}}</mat-label>
  <input matInput
         [type]="type"
         [placeholder]="placeholder"
         [readonly]="readonly"
         attr.aria-label="{{ariaLabel}}"
         [formControl]="inputTextControl"
         class="p-input-text-input">
  <mat-error *ngIf="inputTextControl.hasError('required')"
             class="p-input-text-error">
    {{errorMessage}}
  </mat-error>
</mat-form-field>
