@import "../../assets/styles/custom";

.checkbox-group {
  &-title {
    font-family: $font-family-basic;
    font-size: $tiny-font-size;
    font-weight: 700;
    line-height: 18px;
  }
  &-list {
    @include resetUl;
  }
  &-item {
    margin-top: 10px;
  }
  &-error {
    font-family: $font-family-basic;
    font-size: $tiny-font-size;
    line-height: 18px;
    color: $supportive-alert-500;
    margin-top: 10px;
  }
}
