<mat-radio-group class="p-radio-group"
                 [formControl]="fieldFormControl"
                 [class.invalid-field]="fieldFormControl.invalid && (fieldFormControl.touched || formControlHost.submitted)">
  <label class="p-radio-group-label">{{label}}</label>
  <p-radio-button class="p-radio-group-option"
                  *ngFor="let option of optionsList"
                  [value]="option"
                  [label]="label"
                  [ariaLabel]="ariaLabel"
                  [checked]="checked"
                  [disabled]="disabled">
  </p-radio-button>
  <mat-error *ngIf="fieldFormControl.errors">
    {{errorMessage}}
  </mat-error>
</mat-radio-group>
